<!-- <div class="detail-section">

    <div class="card">
        <h3>name</h3>
        <p>Country</p>
        <p>city</p>
        <img src="https://media.istockphoto.com/photos/glass-of-lager-beer-in-front-of-copper-vat-picture-id862688388?b=1&k=20&m=862688388&s=170667a&w=0&h=2gQ9XT39ZWT7cC9DeJzsLpg0nc240yOjhhS-rY-Gm5I=" alt="brewery">
    </div>

</div>




<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->





<div class="card text-white bg-dark" style="width: 30rem;" *ngIf="(brewery$ |async) as brewery">
    <img src="https://media.istockphoto.com/photos/glass-of-lager-beer-in-front-of-copper-vat-picture-id862688388?b=1&k=20&m=862688388&s=170667a&w=0&h=2gQ9XT39ZWT7cC9DeJzsLpg0nc240yOjhhS-rY-Gm5I="
        class="card-img-top" alt="brewery">
    <div class="card-body">
        <h5 class="card-title">Name: {{ brewery.name }} </h5>
        <p class="card-text">Visit the brewery</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-white bg-dark">Id: {{ brewery.id }}</li>
        <li class="list-group-item text-white bg-dark">Brewery type:</li>
        <li class="list-group-item text-white bg-dark">Street:</li>
        <li class="list-group-item text-white bg-dark">Address 2:</li>
        <li class="list-group-item text-white bg-dark">Address 3:</li>
        <li class="list-group-item text-white bg-dark">Country:</li>
        <li class="list-group-item text-white bg-dark">City:</li>
        <li class="list-group-item text-white bg-dark">State:</li>
        <li class="list-group-item text-white bg-dark">Phone:</li>
        <li class="list-group-item text-white bg-dark">Longitude:</li>
        <li class="list-group-item text-white bg-dark">Latitude:</li>
        <li class="list-group-item text-white bg-dark">Website url:</li>
        <li class="list-group-item text-white bg-dark">Updated at:</li>
        <li class="list-group-item text-white bg-dark">Created at:</li>
    </ul>
</div>